/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* Root */
:root {
  --main-color: rgb(78, 174, 238);
  --special-color: rgb(52, 207, 112);
  --font-color: #474747d2;
}
/* Game */
.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #eee;
}
.game .name {
  padding: 1.5rem;
  background-color: var(--main-color);
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
/* Container */
.game .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 90vw;
  max-width: 65rem;
  margin-top: 1.1rem;
}
/* Message */
.game .container .message {
  border-radius: 0.3rem;
  background-color: white;
  padding: 1.1rem;
  color: var(--font-color);
}
.game .container .lvl::after {
  content: " ] ";
  color: var(--special-color);
}
.game .container .message .lvl::before {
  content: " [ ";
  color: var(--special-color);
}
.game .container .seconds::after {
  content: " ] ";
  color: var(--special-color);
}
.game .container .message .seconds::before {
  content: " [ ";
  color: var(--special-color);
}
/* Start Button */
.game .container .start {
  cursor: pointer;
  padding: 1.1rem;
  background-color: var(--special-color);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  transition: 0.3s ease all;
  border-radius: 0.3rem;
}
.game .container .start:hover {
  background-color: rgba(52, 207, 111, 0.767);
}
.game .container .theWordBox {
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.1rem;
  background-color: white;
}
.game .container .the-word {
  font-size: 39px;
  user-select: none;
  color: var(--main-color);
}
.game .container .finish {
  padding: 1.5rem;
  font-size: 40px;
  text-align: center;
  background-color: white;
  border-radius: 0.3rem;
}
.game .container .finish.good {
  color: var(--main-color);
}
.game .container .finish.bad {
  color: rgba(255, 0, 0, 0.767);
}
/* Input Field */
.game .input {
  border: 2px solid var(--main-color);
  border-radius: 0.3rem;
  caret-color: var(--main-color);
  text-align: center;
  padding: 0.5rem;
}
.game .input:focus {
  outline: none;
}
/* Up Coming Words */
.game .up-coming-words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  height: fit-content;
  padding: 0.5rem 0.6rem;
  background-color: white;
  border-radius: 0.3rem;
}
.game .up-coming-words span {
  background-color: rgb(48, 140, 201);
  color: white;
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-size: 16px;
  user-select: none;
}
/* Control */
.game .control {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0.9rem;
  border-radius: 0.3rem;

  color: var(--font-color);
}
.game .control span {
  color: var(--main-color);
}
.game .congrat {
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  padding: 1.1rem;
  background-color: rgb(23, 146, 39);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  transition: 0.3s ease all;
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
  display: none;
}
.game .congrat img {
  width: 2rem;
}
.game .result {
  cursor: pointer;
  padding: 1.1rem;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  transition: 0.3s ease all;
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
  display: none;
}
.game .result.true {
  background-color: rgb(23, 146, 39);
}
.game .result.false {
  background-color: rgba(255, 0, 0, 0.774);
}
.game .playAgain {
  cursor: pointer;
  padding: 1.1rem;
  background-color: rgba(255, 0, 0, 0.747);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  transition: 0.3s ease all;
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
  display: none;
}
.game .playAgain:hover {
  background-color: rgba(255, 0, 0, 0.651);
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
/* End TG */
